aside {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  background-color: #eee;
  color: gray;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  line-height: 1.2;
  width: 300px;
  padding: 2em 1em;
  box-sizing: border-box; }
  aside h1 {
    margin: 0; }
  aside h2 {
    font-weight: 300; }
    aside h2.customer {
      font-size: 1.3em;
      margin: 0; }
    aside h2.barn-type {
      font-size: 1.4em;
      margin-bottom: 0; }
  aside h3 {
    margin-top: 0;
    font-weight: 300;
    font-size: 1em; }
  aside h4 {
    font-weight: 300;
    margin-bottom: 0.75em; }
  aside h5 {
    font-weight: normal;
    font-style: italic;
    color: #637021;
    margin: 0.75em 0 0 0; }
    aside h5:first-of-type {
      margin-top: 0; }
  aside .option {
    display: table;
    table-layout: fixed; }
    aside .option > span {
      display: table-cell; }
    aside .option .quantity {
      width: 25px; }
      aside .option .quantity:after {
        content: ' \2013 '; }
    aside .option .name {
      width: 180px; }
      aside .option .name:after {
        border-bottom: 1px dotted black;
        width: 100%;
        position: absolute; }
  aside .totals {
    position: absolute;
    bottom: 0;
    margin-bottom: 2em; }
    aside .totals h2 {
      font-weight: normal;
      font-size: 1.2em; }
    aside .totals > span {
      display: block;
      padding: 0.1em 0; }
