$GREEN_ACCENT_BACKGROUND: #637021;
$GREEN_ACCENT_FOREGROUND: #839C00;
$SIDEBAR_WIDTH: 300px;

body {
    margin: 0;
    border: 0;
    padding: 0;
}

header {
    background-color: $GREEN_ACCENT_BACKGROUND;
    color: white;
    font-family: 'Lato', sans-serif;
    color: #feb;
    position: relative;
    padding-right: $SIDEBAR_WIDTH;

    h1 {
        font-weight: 300;
    }

    .actions {
        position: absolute;
        top: 0;
        right: $SIDEBAR_WIDTH + 25px;

        .button {
            background-color: rgba(0,0,0, 0.4);
            padding: 0.5em 1em;
            font-size: 1em;
            font-weight: 300;
            box-sizing: border-box;
            display: inline-block;
            transition: background-color 0.25s;
            color: inherit;
            text-decoration: none;

            &:hover {
                background-color: rgba(0,0,0, 0.6);
            }
        }
    }

    nav {
        background-color: rgba(0,0,0, 0.5);

        ul {
            list-style-type: none;

            li {
                display: inline-block;
                padding: 1em 0.5em;
                cursor: pointer;

                &:after {
                    content: ' ';
                    background: url('../img/section_arrow.svg');
                    display: inline-block;
                    background-size: contain;
                    width: 20px;
                    height: 40px;
                    background-repeat: no-repeat;
                    margin: -1em 0;
                }
            }
        }
    }
}

aside {
    $horizontal_padding: 1rem;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    background-color: #eee;
    color: #666;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    line-height: 1.2;
    width: $SIDEBAR_WIDTH;
    padding: 2em $horizontal_padding;
    box-sizing: border-box;

    h1 {
        margin: 0;
    }

    h2 {
        font-weight: 300;

        &.customer {
            font-size: 1.3em;
            margin: 0;
        }

        &.barn-type {
            font-size: 1.4em;
            margin-bottom: 0;
        }
    }

    h3 {
        margin-top: 0;
        font-weight: 300;
        font-size: 1em;
    }

    h4 {
        font-weight: 300;
        margin-bottom: 0.75em;
    }

    h5 {
        font-weight: normal;
        font-style: italic;
        color: $GREEN_ACCENT_FOREGROUND;
        margin: 0.75em 0 0 0;

        &:first-of-type {
            margin-top: 0;
        }
    }

    .option {
        display: table;
        table-layout: fixed;

        & > span {
            display: table-cell;
        }

        .quantity {
            width: 25px;

            &:after {
                content: ' \2013 ';
            }
        }

        .name {
            width: 180px;

            &:after {
                border-bottom: 1px dotted black;
                width: 100%;
                position: absolute;
            }
        }
    }

    .totals {
        $dark_stripe: rgba(0,0,0, 0.05);
        position: absolute;
        bottom: 0;
        margin-bottom: 2em;
        margin-left: -$horizontal_padding;
        width: 100%;

        h2 {
            font-weight: normal;
            font-size: 1.2em;
            padding-left: $horizontal_padding;
            background-color: $dark_stripe;
            margin: 0;
            padding: 0.3em $horizontal_padding 0.1em $horizontal_padding;
            color: #444;
        }

        & > span {
            display: block;
            padding: 0.2em 0;
            padding-left: $horizontal_padding;

            &:nth-child(even) {
                background-color: $dark_stripe;
            }
        }

        .price {
            padding-left: 0.25em;
        }

        .total {
            background-color: #fc0 !important;
        }
    }
}
