$SELECT_COLOR: black;
$ACCENT_COLOR: rgb(200,128,64);
$MUTED_GREEN_COLOR: #3d4c2b;
$BRIGHT_GREEN_COLOR: #4a5e22;
$helvetica: 'Helvetica Neue', Helvetica, Arial, sans-serif;

em {
    font-style: italic;
    font-weight: 500;
}

label {
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    padding-right: 10px;
    display: inline-block;

    &:before {
        content: "";
        display: inline-block;
        width: 16px; height: 16px;
        background-color: rgba($ACCENT_COLOR, 0.3);
        box-shadow: 0 2px 6px 1px rgba(0,0,0, 0.4) inset; 
        color: $SELECT_COLOR;
        position: absolute;
        left: 5px;
        top: 3px;

        .radio-option & {
            border-radius: 50%;
        }

        .checkbox-option & {
            border-radius: 2px;
        }
    }

    &:hover {
        background-color: rgba($ACCENT_COLOR, 0.1);
    }
}

input[type=radio], input[type=checkbox] {
    display: none;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
}

input:checked + label {
    background-color: rgba($ACCENT_COLOR, 0.2);
    box-shadow: rgba($ACCENT_COLOR, 0.2) 0 0 0 1px inset;
}

input[type=radio]:checked + label:before {
    content: "\2022";
    text-align: center;
    font-size: 32px;  
    line-height: 17px;
}

input[type=checkbox]:checked + label:before {  
    content: "\2713";  
    font-size: 20px;  
    text-align: center;  
    line-height: 20px;  
    font-weight: bold;
}

input[type=text], input[type=number] {
    background-color: rgba($ACCENT_COLOR, 0.2);
    border: 1px solid rgba($ACCENT_COLOR, 0.2);
    box-shadow: 0 2px 6px 1px rgba(0,0,0, 0.4) inset; 
    padding: 0.25em 0.5em;
    font-weight: bold;
    font-family: serif;
    font-size: 0.9em;
}

input[type=number] {
    width: 40px;
}

form#main {
    padding: 0 1em;
    box-sizing: border-box;

    .unit {
        display: inline-block;
        color: gray;
        font-size: 0.9em;
        margin-left: 0.4em;
    }

    h1 {
        font-size: 2.25em;
        text-align: center;
        margin: 0.25em auto;
    }

    h2 {
        color: white;
        background-color: $MUTED_GREEN_COLOR;
        font-size: 1.5em;
        text-transform: uppercase;
        padding-left: 0.5em;
        border-bottom: 1px solid rgba(0,0,0, 0.5);
        cursor: pointer;
    }

    h3 {
        font-size: 1.2em;
        font-weight: bold;

        .checkbox-option + & {
            margin-top: 1em;
        }
    }

    section {
        margin: 1em;
        clear: both;
        overflow: hidden;

        .col {
            float: left;
            margin: 0 0.5em 1em 0.5em;
        }
    }

    button.next {
        border: 0;
        color: white;
        background-color: $BRIGHT_GREEN_COLOR;
        font-size: 1.5em;
        font-family: inherit;
        cursor: pointer;
        display: block;
        clear: both;
        margin: 0 auto;
        padding: 0.25em 0.5em;
        -webkit-transition: background-color 0.2s;
        transition: background-color 0.2s;

        &:hover {
            background-color: $BRIGHT_GREEN_COLOR - #222;
        }

        &.disabled {
            background-color: rgba($ACCENT_COLOR, 0.25) !important;
            cursor: default;
        }
    }
}

.barn-diagrams {
    float: left;

    .barn-diagram {
        position: relative;
        -webkit-transition: width 0.2s, height 0.2s;
        transition: width 0.2s, height 0.2s;
        background-color: rgba($ACCENT_COLOR, 0.2);
        box-shadow: rgba($ACCENT_COLOR, 0.2) 0 0 0 1px inset;

        .dimension {
            width: 80px;
            height: 20px;
            position: absolute;
            left: 50%; top: 50%;
            margin-left: -40px;
            margin-top: -10px;
            font-family: $helvetica;
            font-size: 0.8em;
            text-align: center;
            font-weight: bold;
        }
    }

    .top {
        width: 80px; height: 80px;
    }
}

.annotation {
    display: block;
    color: gray;
    font-size: 0.7em;
    text-transform: uppercase;
    font-family: $helvetica;
}
