$GREEN_ACCENT: #637021;

aside {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    background-color: #eee;
    color: gray;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    line-height: 1.2;
    width: 300px;
    padding: 2em 1em;
    box-sizing: border-box;

    h1 {
        margin: 0;
    }

    h2 {
        font-weight: 300;

        &.customer {
            font-size: 1.3em;
            margin: 0;
        }

        &.barn-type {
            font-size: 1.4em;
            margin-bottom: 0;
        }
    }

    h3 {
        margin-top: 0;
        font-weight: 300;
        font-size: 1em;
    }

    h4 {
        font-weight: 300;
        margin-bottom: 0.75em;
    }

    h5 {
        font-weight: normal;
        font-style: italic;
        color: $GREEN_ACCENT;
        margin: 0.75em 0 0 0;

        &:first-of-type {
            margin-top: 0;
        }
    }

    .option {
        display: table;
        table-layout: fixed;

        & > span {
            display: table-cell;
        }

        .quantity {
            width: 25px;

            &:after {
                content: ' \2013 ';
            }
        }

        .name {
            width: 180px;

            &:after {
                border-bottom: 1px dotted black;
                width: 100%;
                position: absolute;
            }
        }
    }

    .totals {
        position: absolute;
        bottom: 0;
        margin-bottom: 2em;

        h2 {
            font-weight: normal;
            font-size: 1.2em;
        }

        & > span {
            display: block;
            padding: 0.1em 0;
        }
    }
}
