<h2>Cupolas</h2>
<section>
    <div class="col">
        <img src="img/windowpanecupola.png"/>
    </div>
    <div class="col">
        <img src="img/traditionalcupola.png"/>
    </div>
    <div class="col">
        <h3>Style</h3>
        <div class="radio-option">
            <input id="windowpane" type="radio" value="" name="cupolas-style"/>
            <label for="windowpane">Windowpane style<span class="unit">[$250.00]</span></label>
        </div>
        <div class="radio-option">
            <input id="windowpane-copper" type="radio" value="" name="cupolas-style"/>
            <label for="windowpane-copper">Windowpane style with copper-colored Metal Roof<span class="unit">[$325.00]</span></label>
        </div>
        <div class="radio-option">
            <input id="traditional" type="radio" value="" name="cupolas-style"/>
            <label for="traditional">Traditional style<span class="unit">[$250.00]</span></label>
        </div>
    </div>
</section>
<section>
    <div class="col">
        <h3>Weathervane</h3>
        <div class="radio-option">
            <input id="weathervane-rooster" type="radio" value="" name="weathervane"/>
            <label for="weathervane-rooster">Rooster<span class="unit">[$60.00]</span></label>
        </div>
        <div class="radio-option">
            <input id="weathervane-horse-carriage" type="radio" value="" name="weathervane"/>
            <label for="weathervane-horse-carriage">Horse &amp; Carriage<span class="unit">[$60.00]</span></label>
        </div>
        <div class="radio-option">
            <input id="weathervane-horse" type="radio" value="" name="weathervane"/>
            <label for="weathervane-horse">Horse<span class="unit">[$60.00]</span></label>
        </div>
        <div class="radio-option">
            <input id="weathervane-eagle" type="radio" value="" name="weathervane"/>
            <label for="weathervane-eagle">Eagle<span class="unit">[$60.00]</span></label>
        </div>
    </div>
    <div class="col">
        <img src="img/weathervanes.png"/>
    </div>
    <div class="col">
        <h3>Add-ons</h3>
        <div class="checkbox-option">
            <input id="cupola-light" type="checkbox" value=""/>
            <label for="cupola-light">Add 110V Light inside Cupola<span class="unit">[$30.00]</span></label>
        </div>
    </div>
</section>
<button class="next">Next Section</button>
