<h2>Doors</h2>
<section>
    <h3>Extra Doors</h3>
    <div class="col">
        <img src="img/extrasetdoubledoors.png"/>
    </div>
    <div class="col">
        <div class="checkbox-option">
            <input id="wooden-doors-45" type="checkbox" value=""/>
            <label for="wooden-doors-45">Extra Set Woooden Doors, 4'W - 5'W<span class="unit">[$160.00]</span></label>
        </div>
        <div class="checkbox-option">
            <input id="wooden-doors-67" type="checkbox" value=""/>
            <label for="wooden-doors-67">Extra Wide Wooden Doors, 6'W - 7'W<span class="unit">[$60.00]</span></label>
        </div>
        <div class="checkbox-option">
            <input id="man-door" type="checkbox" value=""/>
            <label for="man-door">Extra Wooden Man Door 36"<span class="unit">[$85.00]</span></label>
        </div>
    </div>
</section>
<section>
    <h3>Steel Entry Door</h3>
    <div class="col">
        <img src="img/steeldoor.png"/>
    </div>
    <div class="col">
        <div class="checkbox-option">
            <input id="steeldoor36-6" type="checkbox" value=""/>
            <label for="steeldoor36-6">36" 6-Panel Steel Entry Door<span class="unit">[$355.00]</span></label>
        </div>
        <div class="checkbox-option">
            <input id="steeldoor36-9" type="checkbox" value=""/>
            <label for="steeldoor36-9">36" 9-lite Steel Entry Door<span class="unit">[$385.00]</span></label>
        </div>
        <div class="checkbox-option">
            <input id="steeldoor36-15" type="checkbox" value=""/>
            <label for="steeldoor36-15">36" 15-lite Steel Entry Door<span class="unit">[$580.00]</span></label>
        </div>
        <div class="checkbox-option">
            <input id="steeldoor72-6" type="checkbox" value=""/>
            <label for="steeldoor72-6">72" 6-panel Steel Entry Door<span class="unit">[$735.00]</span></label>
        </div>
        <div class="checkbox-option">
            <input id="steeldoor72-9" type="checkbox" value=""/>
            <label for="steeldoor72-9">72" 9-lite Steel Entry Door<span class="unit">[$735.00]</span></label>
        </div>
        <div class="checkbox-option">
            <input id="steeldoor15" type="checkbox" value=""/>
            <label for="steeldoor15">72" 15-lite Steel Entry Door<span class="unit">[$1100.00]</span></label>
        </div>
    </div>
    <div class="col">
        <h3>Triple Door System</h3>
        <img src="img/tripledoors.png"/>
    </div>
    <div class="col">
        <div class="checkbox-option">
            <input id="tripledoors" type="checkbox" value=""/>
            <label for="tripledoors">Triple Door System<span class="unit">[$595.00]</span></label>
        </div>
    </div>
</section>
<section>
    <h3>Doors Add-on Options</h3>
    <div class="checkbox-option">
        <input id="deadbolt" type="checkbox" value=""/>
        <label for="deadbolt">Dead Bolt<span class="unit">[$45.00]</span></label>
    </div>
</section>
<button class="next">Next Section</button>
