<h2>Lofts</h2>
<div class="col">
    <img src="img/loft.jpg"/>
</div>
<div class="col">
    <div class="checkbox-option">
        <input id="loft8-4" type="checkbox" value=""/>
        <label for="loft8-4">8' x 4'  (2 x 4 Joists 24" O/C)<span class="unit">[$65.00]</span></label>
    </div>
    <div class="checkbox-option">
        <input id="loft10-4" type="checkbox" value=""/>
        <label for="loft10-4">10' x 4'  (2 x 4 Joists 24" O/C)<span class="unit">[$75.00]</span></label>
    </div>
    <div class="checkbox-option">
        <input id="loft12-4" type="checkbox" value=""/>
        <label for="loft12-4">12' x 4'  (2 x 6 Joists 24" O/C)<span class="unit">[$90.00]</span></label>
    </div>
    <div class="checkbox-option">
        <input id="loft14-4" type="checkbox" value=""/>
        <label for="loft14-4">14' x 4'  (2 x 8 Joists 16" O/C)<span class="unit">[$125.00]</span></label>
    </div>
    <div class="checkbox-option">
        <input id="loft16-4" type="checkbox" value=""/>
        <label for="loft16-4">16' x 4'  (2 x 8 Joists 16" O/C)<span class="unit">[$140.00]</span></label>
    </div>
</div>
<button ng-click="form.nextSection()" class="next">Next Section</button>
