<h2>Miscellaneous</h2>
<section>
    <div class="col">
        <div class="checkbox-option">
            <input id="wall-studs-trusses" type="checkbox" value=""/>
            <label for="wall-studs-trusses">16" O/C wall studs &amp; trusses (16" O/C Standard on 14' &ndash; 16' wide barns)<span class="unit">[3% of base price]</span></label>
        </div>
    </div>
</section>
<section>
    <div class="col">
        <img src="img/ramp.jpg"/>
    </div>
    <div class="col">
        <h3>Door Ramp</h3>
        <div class="checkbox-option">
            <input id="door-ramp-3" type="checkbox" value=""/>
            <label for="door-ramp-3">Door Ramp <em>3' depth X width of door</em><span class="unit">[$75.00]</span></label>
        </div>
        <div class="checkbox-option">
            <input id="door-ramp-4" type="checkbox" value=""/>
            <label for="door-ramp-4">Door Ramp <em>4' depth X width of door</em><span class="unit">[$100.00]</span></label>
        </div>
        <div class="checkbox-option">
            <input id="door-ramp-5" type="checkbox" value=""/>
            <label for="door-ramp-5">Door Ramp <em>5' depth X width of door</em><span class="unit">[$125.00]</span></label>
        </div>
    </div>
    <div class="col">
        <h3>Door Arbor</h3>
        <div class="checkbox-option">
            <input id="door-arbor-4" type="checkbox" value=""/>
            <label for="door-arbor-4">Door Arbor for 4' Door<span class="unit">[$160.00]</span></label>
        </div>
        <div class="checkbox-option">
            <input id="door-arbor-5" type="checkbox" value=""/>
            <label for="door-arbor-5">Door Arbor for 5' Door<span class="unit">[$180.00]</span></label>
        </div>
        <div class="checkbox-option">
            <input id="door-arbor-6" type="checkbox" value=""/>
            <label for="door-arbor-6">Door Arbor for 6' Door<span class="unit">[$200.00]</span></label>
        </div>
    </div>
</section>
<section>
    <div class="col">
        <h3>Runners</h3>
        <div class="checkbox-option">
            <input id="runners-4-4" type="checkbox" value=""/>
            <label for="runners-4-4">Extra 4x4 Runners<span class="unit">[$1.75 per LF]</span></label>
        </div>
        <div class="checkbox-option">
            <input id="runners-4-6" type="checkbox" value=""/>
            <label for="runners-4-6">Extra 4x6 Runners<span class="unit">[$2.95 per LF]</span></label>
        </div>
        <div class="checkbox-option">
            <input id="runners-4-6-upgrade" type="checkbox" value=""/>
            <label for="runners-4-6-upgrade">4x6 Runners Upgrade<span class="unit">[$1.30 per LF]</span></label>
        </div>
    </div>
    <div class="col">
        <div class="checkbox-option">
            <input id="waste-removal" type="checkbox" value=""/>
            <label for="waste-removal">Waste Removal<span class="unit">[$35.00]</span></label>
        </div>
        <div class="checkbox-option">
            <input id="cane-bolts" type="checkbox" value=""/>
            <label for="cane-bolts">Cane Bolts<span class="unit">[$20.00]</span></label>
        </div>
    </div>
</section>
<button ng-click="form.nextSection()" class="next">Review Order</button>
