<h2>Paint &amp; Stain</h2>
<div class="col">
    <table>
        <tr>
            <td>
                <div class="checkbox-option">
                    <input id="painting-mini-gable" type="checkbox" value=""/>
                    <label for="painting-mini-gable">Prebuilt Painting <em>(Mini &amp; Gable)</em><span class="unit">[$1.75]</span></label>
                </div>
            </td>
            <td>
                <input type="number"/><span class="unit">Sq. Ft.</span>
            </td>
        </tr>
        <tr>
            <td>
                <div class="checkbox-option">
                    <input id="painting-estate-sugarcreek-cottage-craftsman" type="checkbox" value=""/>
                    <label for="painting-estate-sugarcreek-cottage-craftsman">Prebuilt Painting <em>(Estate, Sugarcreek, Cottage, Craftsman)</em><span class="unit">[$2.30]</span></label>
                </div>
            </td>
            <td>
                <input type="number"/><span class="unit">Sq. Ft.</span>
            </td>
        </tr>
        <tr>
            <td>
                <div class="checkbox-option">
                    <input id="painting-highland" type="checkbox" value=""/>
                    <label for="painting-highland">Prebuilt Painting <em>(Highland)</em><span class="unit">[$2.40]</span></label>
                </div>
            </td>
            <td>
                <input type="number"/><span class="unit">Sq. Ft.</span>
            </td>
        </tr>
        <tr>
            <td>
                <div class="checkbox-option">
                    <input id="staining-mini-gable" type="checkbox" value=""/>
                    <label for="staining-mini-gable">Prebuilt Staining <em>(Mini &amp; Gable)</em><span class="unit">[$2.95]</span></label>
                </div>
            </td>
            <td>
                <input type="number"/><span class="unit">Sq. Ft.</span>
            </td>
        </tr>
        <tr>
            <td>
                <div class="checkbox-option">
                    <input id="staining-estate-sugarcreek-cottage-craftsman" type="checkbox" value=""/>
                    <label for="staining-estate-sugarcreek-cottage-craftsman">Prebuilt Staining <em>(Estate, Sugarcreek, Cottage, Craftsman)</em><span class="unit">[$4.25]</span></label>
                </div>
            </td>
            <td>
                <input type="number"/><span class="unit">Sq. Ft.</span>
            </td>
        </tr>
        <tr>
            <td>
                <div class="checkbox-option">
                    <input id="staining-highland" type="checkbox" value=""/>
                    <label for="staining-highland">Prebuilt Staining <em>(Highland)</em><span class="unit">[$4.45]</span></label>
                </div>
            </td>
            <td>
                <input type="number"/><span class="unit">Sq. Ft.</span>
            </td>
        </tr>
        <tr>
            <td>
                <div class="checkbox-option">
                    <input id="painting-non-stock" type="checkbox" value=""/>
                    <label for="painting-non-stock">Prebuilt Painting <em>(Non-Stock Colors)</em><span class="unit">[$0.50]</span></label>
                </div>
            </td>
            <td>
                <input type="number"/><span class="unit">Sq. Ft.</span>
            </td>
        </tr>
        <tr>
            <td>
                <div class="checkbox-option">
                    <input id="paint-steel-entry-door" type="checkbox" value=""/>
                    <label for="paint-steel-entry-door">Paint Steel Entry Door<span class="unit">[$155.00]</span></label>
                </div>
            </td>
            <td>
                <input type="number"/><span class="unit">Sq. Ft.</span>
            </td>
        </tr>
    </table>
</div>
<button ng-click="form.nextSection()" class="next">Next Section</button>
