<h2>Roof</h2>
<div class="col">
    <img src="img/shingles.jpg"/>
</div>
<div class="col">
    <div class="checkbox-option">
        <input id="shingle-upgrade" type="checkbox" value=""/>
        <label for="shingle-upgrade">30-Year Shingle upgrade<span class="unit">[$0.50/sq.ft.]</span></label>
    </div>
    <div class="checkbox-option">
        <input id="metal-roof" type="checkbox" value=""/>
        <label for="metal-roof">Metal Roof<span class="unit">[$0.50/sq.ft.]</span></label>
    </div>
    <div class="checkbox-option">
        <input id="felt-paper" type="checkbox" value=""/>
        <label for="felt-paper">15# Felt Paper<span class="unit">[$0.30/sq.ft.]</span></label>
    </div>
    <div class="checkbox-option">
        <input id="steeper-roof" type="checkbox" value=""/>
        <label for="steeper-roof">Steeper Roof Pitch<span class="unit">[$0.65/sq.ft. x 1 pitch increments]</span></label>
    </div>
</div>
<button ng-click="form.nextSection()" class="next">Next Section</button>
