<h2>{{section.name}}</h2>
<div class="form-element" ng-repeat="subsection in section.subsections">
    <h3>{{subsection.name}}</h3>

    <div ng-repeat="component in subsection.components">

        <!-- checkbox -->
        <div class="checkbox-option" ng-if="component.form_type === 'checkbox' || component.form_type === 'check_price' || component.form_type === 'check_length'">
            <input id="{{component.name}}" name="{{subsection.name}}" ng-value="component.name" ng-model="component.value" type="checkbox"/>
            <label for="{{component.name}}">
                {{component.name}}
                <span class="unit">{{form.displayPrice(component)}}</span>
            </label>
            <label ng-if="component.form_type === 'check_price'" for="{{component.name}}-price" class="price">
                Price: $
            </label>
            <input ng-if="component.form_type === 'check_price'" ng-model="component.user_price" id="{{component.name}}-price" type="number" min="0"/>
            <input ng-if="component.form_type === 'check_length'" ng-model="component.len" id="{{component.name}}-length" type="number" min="0"/>
            <label ng-if="component.form_type === 'check_length'" for="{{component.name}}-length" class="quantity">
                ft.
            </label>
        </div>

        <!-- radio button -->
        <div class="radio-options" ng-if="component.form_type === 'radio'">
            <h4 ng-if="component.name !== subsection.name">{{component.name}}</h4>
            <div class="radio-option" ng-repeat="option in component.options">
                <input id="{{component.name + option.name}}" name="{{component.name}}" value="{{option.id}}" ng-model="component.value" type="radio"/>
                <label for="{{component.name + option.name}}">
                    {{option.name}}
                    <span class="unit">{{form.displayPrice(component, $index)}}</span>
                </label>
            </div>
        </div>

        <!-- number range -->
        <div class="number-option" ng-if="component.form_type === 'numeric'">
            <input id="{{component.name}}" ng-model="component.value" type="number" min="{{component.min || 0}}" max="{{component.max}}"/>
            <label for="{{component.name}}">
                {{component.name}}
                <span class="unit">{{form.displayPrice(component)}}</span>
            </label>
            <div class="radio-option" ng-if="component.options.length" ng-repeat="option in component.options" ng-model="component.selected">
                <input id="{{component.name + option.name}}" name="{{component.name}}" type="radio"/>
                <label for="{{component.name + option.name}}">
                    {{option.name}}
                    <span class="unit">{{form.displayPrice(component, $index)}}</span>
                </label>
            </div>
        </div>

        <!-- dropdown -->
        <div class="select-option" ng-if="component.form_type === 'select'">
            <h4 ng-if="component.name !== subsection.name">{{component.name}}</h4>
            <select name="{{component.name}}" ng-options="index as option.name + ' ' + form.displayPrice(component, index) for (index, option) in component.options" ng-model="component.value"><!-- http://stackoverflow.com/a/22080183 -->
                <option value="">-- none --</option>
            </select>
            <span ng-if="component.requires_quantity && component.value">
                <label for="{{component.name}}-quantity" class="quantity">
                    Quantity:
                </label>
                <input id="{{component.name}}-quantity" type="number" min="0"/>
            </span>
        </div>

        <!-- text box -->
        <div class="text-option" ng-if="component.form_type === 'text'">
            <h4 ng-if="component.name !== subsection.name">{{component.name}}</h4>
            <input id="{{component.name}}" name="{{component.name}}" ng-model="component.value" type="text" placeholder="Description"/>

            <label for="{{component.name}}-price" class="price">
                Price: $
            </label>
            <input id="{{component.name}}-price" type="number" min="0" class="custom-price" ng-model="component.price"/>

            <label for="{{component.name}}-quantity" class="quantity">
                Quantity:
            </label>
            <input id="{{component.name}}-quantity" type="number" min="0" class="custom-quantity" ng-model="component.quantity"/>
            <img ng-if="component.duplicate && subsection.components[$index-1].form_type === 'text'" ng-click="form.deleteCustomField(subsection.components, $index)" src="img/icon-delete.svg" class="button delete"/>
            <img ng-if="component.duplicate && subsection.components[$index+1].form_type !== 'text'" ng-click="form.addCustomField(subsection.components, $index)" src="img/icon-add.svg" class="button add"/>
        </div>

    </div><!-- end subsection.components ng-repeat -->

</div><!-- end subsection in subsection.subsections ng-repeat -->
<button ng-click="form.nextSection()" class="next">Next Section</button>
