<h2>Shelves</h2>
<div class="col">
    <img src="img/shelves.jpg"/>
</div>
<div class="col">
    <div class="checkbox-option">
        <input id="shelves8-1" type="checkbox" value=""/>
        <label for="shelves8-1">8' x 1'  (2 x 4 Joists)<span class="unit">[$30.00]</span></label>
    </div>
    <div class="checkbox-option">
        <input id="shelves10-1" type="checkbox" value=""/>
        <label for="shelves10-1">10' x 1'  (2 x 4 Joists)<span class="unit">[$35.00]</span></label>
    </div>
    <div class="checkbox-option">
        <input id="shelves8-2" type="checkbox" value=""/>
        <label for="shelves8-2">8' x 2'  (2 x 4 Joists)<span class="unit">[$40.00]</span></label>
    </div>
    <div class="checkbox-option">
        <input id="shelves10-2" type="checkbox" value=""/>
        <label for="shelves10-2">10' x 2'  (2 x 4 Joists)<span class="unit">[$50.00]</span></label>
    </div>
    <div class="checkbox-option">
        <input id="shelves12-2" type="checkbox" value=""/>
        <label for="shelves12-2">12' x 2'  (2 x 6 Joists)<span class="unit">[$70.00]</span></label>
    </div>
    <div class="checkbox-option">
        <input id="shelves14-2" type="checkbox" value=""/>
        <label for="shelves14-2">14' x 2'  (2 x 6 Joists)<span class="unit">[$80.00]</span></label>
    </div>
    <div class="checkbox-option">
        <input id="shelves16-2" type="checkbox" value=""/>
        <label for="shelves16-2">16' x 2'  (2 x 6 Joists)<span class="unit">[$90.00]</span></label>
    </div>
</div>
<button class="next">Next Section</button>
