<section class="center-floated-children">
    <div class="col">
        <h3>Customer Information</h3>
        <table class="celled">
            <tr>
                <td>Name</td>
                <td>John Deere</td>
            </tr>
            <tr>
                <td>Address</td>
                <td>512 North Star Drive</td>
            </tr>
            <tr>
                <td>City/State/Zip</td>
                <td>Hartford, CT  06095</td>
            </tr>
            <tr>
                <td>Home Phone</td>
                <td>(555) 530-2043</td>
            </tr>
            <tr>
                <td>Cell Phone</td>
                <td>(555) 320-5574</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>john@example.com</td>
            </tr>
            <tr>
                <td>Salesman</td>
                <td>J. Miller</td>
            </tr>
            <tr>
                <td>Date</td>
                <td>May 1, 2014</td>
            </tr>
            <tr>
                <td>Site ready date</td>
                <td>July 1, 2014</td>
            </tr>
            <tr>
                <td>Delivery date</td>
                <td>July 15, 2014</td>
            </tr>
            <tr>
                <td>Estimated time</td>
                <td>2 weeks</td>
            </tr>
            <tr>
                <td>Confirmed</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>Crew</td>
                <td>Crew 123</td>
            </tr>
        </table>
    </div>
    <div class="col">
        <h3>Order Information</h3>
        <table class="celled">
            <tr>
                <td>Subtotal</td>
                <td>$10,580.00</td>
            </tr>
            <tr>
                <td>Options total</td>
                <td>$5,060.00</td>
            </tr>
            <tr>
                <td>Subtotal</td>
                <td>$15,640.00</td>
            </tr>
            <tr>
                <td>Delivery charge</td>
                <td>$1,280.00</td>
            </tr>
            <tr>
                <td>Subtotal</td>
                <td>$16,920.00</td>
            </tr>
            <tr>
                <td>Tax (6.75%)</td>
                <td>$1,142.10</td>
            </tr>
            <tr>
                <td class="accent-background"><strong>Total</strong></td>
                <td class="accent-background"><strong>$18,062.10</strong></td>
            </tr>
            <tr>
                <td>Deposit</td>
                <td>$0.00</td>
            </tr>
            <tr>
                <td>Balance due</td>
                <td>$18,062.10</td>
            </tr>
        </table>
    </div>
</section>
<button class="next">Submit Order</button>
