<h1>Visual Editor</h1>

<div id="sandbox" class="module">
    <img class="draggable component" src="img/door.png"/>
    <img class="draggable component" src="img/skylight.png"/>
</div>

<div id="blueprint" class="module">
    <div id="barn-outline" style="height: {{581/form.aspectRatio()}}px">
        <div class="dimensions">
            {{form.displaySize(form.options.size)}}
        </div>
    </div>
</div>

<div id="components" class="module" style="height: {{(581/form.aspectRatio())+46}}px">
    <h2>Dolor</h2>
</div>
