<h1>Visual Editor {{form.top}}</h1>

<div id="sandbox" class="module">
    <div ng-repeat="section in form.additions">
        <div ng-repeat="subsection in section.subsections">
            <div ng-repeat="component in subsection.components">
                <div ng-repeat="image in component.images"
                     ng-include="'views/visual_component.html'"
                     class="draggable component">
                 </div>
            </div>
        </div>
    </div>
</div>

<div id="blueprint" class="module">
    <div id="barn-outline" style="height: {{581/form.aspectRatio()}}px">
        <div class="dimensions">
            {{form.displaySize(form.options.size)}}
        </div>
    </div>
</div>

<div id="components" class="module" style="height: {{(581/form.aspectRatio())+46}}px">

    <div ng-repeat="section in form.additions">
        <h2>{{section.name}}</h2>
        <div ng-repeat="subsection in section.subsections">
            <!-- <h3>{{subsection.name}}</h3> -->
            <div ng-repeat="component in subsection.components">
                <h4 ng-if="component.image_url">{{component.name}}</h4>
                <img ng-if="component.image_url" ng-src="{{component.image_url}}"/>
                <div ng-repeat="option in component.options">
                    <h5 ng-if="option.image_url">{{option.name}}</h5>
                    <img ng-if="option.image_url" ng-src="{{option.image_url}}"/>
                </div>
            </div>
        </div>
    </div>

</div>
