<h1>Visual Editor {{form.top}}</h1>

<div id="sandbox" class="module">
    <div class="draggable component" style="top:{{form.top}}">
        <div class="controls">
            <img class="delete button" src="img/close.svg"/>
            <img class="rotate button" src="img/rotate.svg"/>
        </div>
        <img class="component-image" src="img/door.png"/>
    </div>
    <div class="draggable component">
        <div class="controls">
            <img class="delete button" src="img/close.svg"/>
            <img class="rotate button" src="img/rotate.svg"/>
        </div>
        <img class="component-image" src="img/skylight.png"/>
    </div>
</div>

<div id="blueprint" class="module">
    <div id="barn-outline" style="height: {{581/form.aspectRatio()}}px">
        <div class="dimensions">
            {{form.displaySize(form.options.size)}}
        </div>
    </div>
</div>

<div id="components" class="module" style="height: {{(581/form.aspectRatio())+46}}px">
    <h2>Dolor</h2>
</div>
