<h2>Windows</h2>
<section>
    <div class="col">
        <img src="img/whitewindow.png"/>
    </div>
    <div class="col">
        <div class="radio-option">
            <input id="singlehung2-2w" type="radio" value="" name="windows"/>
            <label for="singlehung2-2w">2' x 2' Single Hung with screen &amp; grids (white)<span class="unit">[$75.00]</span></label>
        </div>
        <div class="radio-option">
            <input id="singlehung2-2b" type="radio" value="" name="windows"/>
            <label for="singlehung2-2b">2' x 2' Single Hung with screen &amp; grids (brown)<span class="unit">[$75.00]</span></label>
        </div>
        <div class="radio-option">
            <input id="singlehung2-3w" type="radio" value="" name="windows"/>
            <label for="singlehung2-3w">2' x 3' Single Hung with screen &amp; grids (white)<span class="unit">[$85.00]</span></label>
        </div>
        <div class="radio-option">
            <input id="singlehung2-3b" type="radio" value="" name="windows"/>
            <label for="singlehung2-3b">2' x 3' Single Hung with screen &amp; grids (brown)<span class="unit">[$85.00]</span></label>
        </div>
        <div class="radio-option">
            <input id="transom2-3w" type="radio" value="" name="windows"/>
            <label for="transom2-3w">2' x 3' Window with Transom (white)<span class="unit">[$135.00]</span></label>
        </div>
        <div class="radio-option">
            <input id="transom2-3b" type="radio" value="" name="windows"/>
            <label for="transom2-3b">2' x 3' Window with Transom (brown)<span class="unit">[$135.00]</span></label>
        </div>
        <div class="radio-option">
            <input id="vinyl2-3w" type="radio" value="" name="windows"/>
            <label for="vinyl2-3w">2' x 3' Vinyl Window with screen &amp; grids (white)<span class="unit">[$185.00]</span></label>
        </div>
        <div class="radio-option">
            <input id="vinyl2-3a" type="radio" value="" name="windows"/>
            <label for="vinyl2-3a">2' x 3' Vinyl Window with screen &amp; grids (almond)<span class="unit">[$210.00]</span></label>
        </div>
        <div class="radio-option">
            <input id="vinyl2-3c" type="radio" value="" name="windows"/>
            <label for="vinyl2-3c">2' x 3' Vinyl Window with screen &amp; grids (clay)<span class="unit">[$210.00]</span></label>
        </div>
        <div class="radio-option">
            <input id="vinyl3-4w" type="radio" value="" name="windows"/>
            <label for="vinyl3-4w">3' x 4' Vinyl Window with screen &amp; grids (white)<span class="unit">[$235.00]</span></label>
        </div>
        <div class="radio-option">
            <input id="vinyl3-4a" type="radio" value="" name="windows"/>
            <label for="vinyl3-4a">3' x 4' Vinyl Window with screen &amp; grids (almond)<span class="unit">[$270.00]</span></label>
        </div>
        <div class="radio-option">
            <input id="vinyl3-4c" type="radio" value="" name="windows"/>
            <label for="vinyl3-4c">3' x 4' Vinyl Window with screen &amp; grids (clay)<span class="unit">[$270.00]</span></label>
        </div>
    </div>
    <div class="col">
        <img src="img/vinylwindow.png"/>
    </div>
</section>
<section>
    <div class="col">
        <h3>Skylight</h3>
        <div class="radio-option">
            <input id="skylight" type="radio" value="" name="skylight"/>
            <label for="skylight">2'x 2' Skylight<span class="unit">[$90.00]</span></label>
        </div>
        <div class="radio-option">
            <input id="skylight-installed" type="radio" value="" name="skylight"/>
            <label for="skylight-installed">2'x 2' Skylight &ndash; installed in metal roof<span class="unit">[$180.00]</span></label>
        </div>
    </div>
    <div class="col">
        <h3>Solar Shed Light</h3>
        <div class="checkbox-option">
            <input id="solarlight" type="checkbox" value=""/>
            <label for="solarlight">Solar Shed Light <em>Installed</em><span class="unit">[$150.00]</span></label>
        </div>
    </div>
    <div class="col">
        <img src="img/skylight.png"/>
    </div>
</section>
<section>
    <div class="col">
        <h3>Window Add-ons</h3>
        <div class="checkbox-option">
            <input id="transom-windows" type="checkbox" value=""/>
            <label for="transom-windows">Transom Windows (white or brown)<span class="unit">[$50.00]</span></label>
        </div>
        <div class="checkbox-option">
            <input id="octagon-window" type="checkbox" value=""/>
            <label for="octagon-window">Octagon Window (white or brown)<span class="unit">[$50.00]</span></label>
        </div>
    </div>
    <div class="col">
        <h3>Window Accessories</h3>
        <div class="checkbox-option">
            <input id="cedar-shutter" type="checkbox" value=""/>
            <label for="cedar-shutter">Cedar Shutter Set<span class="unit">[$40.00]</span></label>
        </div>
        <div class="checkbox-option">
            <input id="cedar-flowerbox" type="checkbox" value=""/>
            <label for="cedar-flowerbox">Cedar Flowerbox<span class="unit">[$35.00]</span></label>
        </div>
        <div class="checkbox-option">
            <input id="cedar-shutter-flowerbox" type="checkbox" value=""/>
            <label for="cedar-shutter-flowerbox">Cedar Shutter Set &amp; Flowerbox<span class="unit">[$75.00]</span></label>
        </div>
        <div class="checkbox-option">
            <input id="vinyl-shutter" type="checkbox" value=""/>
            <label for="vinyl-shutter">Vinyl Shutter Set <em>Panel Style</em><span class="unit">[$50.00]</span></label>
        </div>
        <div class="checkbox-option">
            <input id="vinyl-flowerbox" type="checkbox" value=""/>
            <label for="vinyl-flowerbox">Vinyl Flowerbox<span class="unit">[$40.00]</span></label>
        </div>
        <div class="checkbox-option">
            <input id="vinyl-shutter-flowerbox" type="checkbox" value=""/>
            <label for="vinyl-shutter-flowerbox">Vinyl Shutter Set &amp; Flowerbox<span class="unit">[$90.00]</span></label>
        </div>
    </div>
</section>
<button class="next">Next Section</button>
